[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git

[submodule "vendor/plugins/role_requirement"]
	path = vendor/plugins/role_requirement
	url = git://github.com/timcharper/role_requirement.git
