body
  :background #FFF url(/images/background.png) repeat-x
  h1,h2,h3,h4
    :font-family garamond, times, serif
    :text-transform uppercase
  input
    :border 1px solid #333
  #head
    :width= !grid+"em"
    :margin 0 auto
    :text-align left
    +clearfix
    :display block
    :clear both
    :padding 2.5em 0  1em
    :position relative
    h1
      :background url(/images/logo.png) no-repeat left bottom
      :height 7.5em
      :font-size 1em
      :width 50.5em
      :margin 0
      :position relative
      :float left
      a
        :text-indent -9999em
        :display block
        :width 100%
        :height 100%
        :outline none
    ul
      :margin 6em 0 0
      :float left
      li
        :list-style none
        :margin 0
        :display block
        :float left
        :font-weight normal
        :font-family garamond, times, serif
        a
          :text-transform capitalize
          :color #333
    a#tagline
      :float left
      :color #FFF
      :font-family Times
      :font-size 1.4em
      :font-weight bold
      :margin-left .5em
    ul#categories
      :float left
      li
        :margin-left 1em
    ul#user
      :position absolute
      :top 0
      :right 0
      :margin 0
      :padding .5em 0 0
      li
        :margin-left .5em
        &.button
          :background #EEE
          :border none
    ul#admin
      :width 10em
      :background transparent url(../images/admin.png) no-repeat center -1em
      :position absolute
      :top 0
      :right 0
      :margin 0
      :padding 2.8em 0 0
      :cursor pointer
      li
        :margin 0 0 0 -6em
        :display none
        :width 12em
        :background #333
        :padding .3em .5em
        :text-align left
        a
          :color #FFF
          :font-weight bold
        &:first-child
          :-moz-border-radius-topleft .4em
          :-moz-border-radius-topright .4em
          :-khtml-border-top-right-radius .4em
          :-khtml-border-top-left-radius .4em
          :-webkit-border-top-right-radius .4em
          :-webkit-border-top-left-radius .4em
        &:last-child
          :-moz-border-radius-bottomleft .4em
          :-moz-border-radius-bottomright .4em
          :-khtml-border-bottom-right-radius .4em
          :-khtml-border-bottom-left-radius .4em
          :-webkit-border-bottom-right-radius .4em
          :-webkit-border-bottom-left-radius .4em
      &:hover li
        :display block

  #grid
    +clearfix
    :display block
    :margin 0 auto
    :padding 0
    .main,
    .rail,
    .page,
    .full_page,
    .column
      :background-color= !background_color
      :vertical-align top
      :display block
      :float left
      h2:first-child
        :margin-top 0
    table.admin
      :border .1em solid #CCC
      :margin 1em 0
      tr
        &.alt
          :background-color #EEE
        th,td
          :padding .5em
      thead
        tr
          :background #CCC
    .pad
      +column_calc(!grid/16)
      :float left
    .main
      +column_calc(((!grid/16)*9)+1)
      :padding-left 0
      :padding-right 0
      ul
        li
          :list-style-position inside
      h2
        :color #C93
        :margin= ((!line_height/(!font_size + .4))/2)+"em" 0 0
        :font-size= !font_size + .2+"em"
        :padding= ((!line_height/(!font_size + .4)))+"em" 0 ((!line_height/(!font_size + .4))/2)+"em"
        :font-weight normal
        :border-top .1em dotted #CCC
        &:first-child
          :padding= ((!line_height/(!font_size + .4))/2)+"em" 0
          :border-top none
      h4
        :font-weight normal
        :font-size 1.2em
        :margin-top 0
      ul.tags
        :clear both
        li
          :display inline-block
          :margin 0 0
          :font-size 1.2em
          * + html &
            :zoom 1
            :display inline
            :margin-right .2em
          &:after
            :content ", "
          &:last-child:after,
          &:first-child:after
            :content ""
          &.nocomma:after
            :content ""

      .post
        :font-size= !font_size + "em"
        p,div,li,span
          :font-size 1em
        p:last-child
          :margin-bottom 0
        h2
          :border none
          :font-family= !base_font
          :text-align left
          :margin-bottom 0
        h2:first-child
          :margin-top 1.2em
        img
          :float left
          :vertical-align text-top
          :margin .5em .5em .5em 0
          :padding .4em
          :border .1em solid #333
        img:nth-child(2n)
          :float right
          :margin .5em 0 .5em .5em
      #splash_pic
        :width 52em
        :height auto
        :background #fff
        :padding .5em
        :border .1em solid #333
      iframe.editor
        :height 10em
      #editor_form iframe.editor
        :height 30em
    ul#events
      li
        :list-style none
        h1
          :background #C93
          :padding -.5em 0
          :height .7em
          :font-size 2em
          :overflow hidden
          :white-space nowrap
          :color #FFF
        h2
          :border none
    ul.inline
      :margin 1em 0 0
      li
        :display inline
    .rail
      +column_calc(((!grid/16)*3)+(!line_height/6))
      p,label,input
        :font-size .95em
      form
        :padding 0
      h2
        :color #C93
        :margin= ((!line_height/(!font_size + .4))/2)+"em" 0
        :font-size= !font_size+"em"
        :padding= ((!line_height/(!font_size + .4))/2)+"em" 0
        :font-weight normal
      ul.tag_cloud
        :width 100%
        :margin=  !page_padding+"em" 0
        :border 1px solid #000
        :padding .5em
        li
          :display inline-block
          :margin 0
          * + html &
            :zoom 1
            :display inline
            :margin-right .2em
          &.tag_level-1
            :font-size .9em
          &.tag_level-2
            :font-size 1.2em
          &.tag_level-3
            :font-size 1.4em
          &.tag_level-4
            :font-size 1.6em
            :font-weight bold
          &.tag_level-5
            :font-size 2.2em
            :font-weight bold
          a
            :color #333
            &:hover
              :color= !link_color
      ul.social
        li
          :list-style none inside
          :padding .2em 0 .2em 1.8em
          :margin 0 0 .5em
          :background no-repeat left center
          &.facebook
            :background-image url(/images/icons/facebook.png)
          &.twitter
            :background-image url(/images/icons/twitter.png)
          &.feed
            :background-image url(/images/icons/feed.png)
      ul.friends
        :margin-bottom 2em
        li
          :list-style none inside
          :padding 0
          :margin 0 0 .5em
      ul#nav
        :float left
        li
          :list-style none
          :margin 0 .5em 0 0
          :display block
          :float left
          :font-weight bold
          a
            :color #666
            :text-transform uppercase
            :color #333
            :font-family Times
    .column_one
      +column_calc(((!grid/16)*2)+1)
      :margin .5em 0
      :padding 0
      ul.previous
        :margin 0 auto
        :width auto
        +clearfix
        :font-size 1em
        :padding 0
        li
          :display block
          :float left
          :width 7.6em
          :height 7.6em
          :background #EEE
          :margin .5em 0
          :padding 0
          :overflow hidden
          :list-style none
    .column_two
      :margin-right 0
      ul.previous
        :margin 0 auto
        :width 22em
        +clearfix
        li
          :display block
          :float left
          :width 4em
          :height 4em
          :background #999
          :margin .25em
          :overflow hidden
          :list-style none
      h2.archives
        :margin 1em
        :padding .5em
        :border-bottom .1em solid #CCC
      form
        :margin-top -1.333em
        label
          :font-size 1.2em
    form
      :margin 0 auto
    .editor
      :border .1em solid #333
    ul.toolbar
      li
        :font-size 1em
        :display block
        :float left
        :width 3.2em
        :height 3.2em
        :border .1em solid #666
        :margin .2em
        :overflow hidden
        :cursor pointer
        :list-style none
  .sb_tooltip
    :font-size 1em
    :background transparent url(/images/sb-bite-hover.png) no-repeat center
    :padding 4em 5.5em 6em 3.5em
    :width 11em
    :height 7em
    :text-align center
  a.more,
  li.button,
  a.button
    :font 12px Helvetica,Arial
    :color #FFF
    :text-decoration none
    :border .1em solid #666
    :-moz-border-radius 3px
    :-webkit-border-radius 3px
    :border-radius .3em
    :padding .3em
    :background #94CC3D
  #common_tags li.button
    :float left
    :margin .2em
    :text-align center
