/* Tenplate config values */
/* Tenplate SASS Includes */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-size: 16px; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body {
  font-size: 62.5%;
  color: #666666;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.8em;
  background-color: white; }
  body h1,
  body h2,
  body h3,
  body h4 {
    text-transform: capitalize;
    font-weight: bold; }
  body h1 {
    font-size: 2.2em;
    margin: 0.818em 0; }
  body h2 {
    font-size: 1.9em;
    margin: 0.947em 0; }
  body h3 {
    font-size: 1.8em;
    margin-bottom: -1em; }
  body h4 {
    font-size: 1.7em;
    margin-top: 1.059em;
    margin-bottom: -1.059em; }
  body h5 {
    font-size: 1.6em;
    margin-top: 1.125em; }
  body p,
  body td,
  body th {
    font-size: 1.6em;
    margin: 1.125em 0; }
    body p p,
    body p th,
    body p td,
    body p input,
    body p label,
    body td p,
    body td th,
    body td td,
    body td input,
    body td label,
    body th p,
    body th th,
    body th td,
    body th input,
    body th label {
      font-size: 1em;
      margin: 0; }
  body a {
    color: #a1381a;
    text-decoration: none; }
    body a:hover {
      text-decoration: underline; }
  body ul,
  body ol {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em; }
    body ul li,
    body ol li {
      margin: 1.125em 0;
      list-style: none;
      font-size: 1.6em;
      list-style: circle outside; }
      body ul li ul,
      body ul li ol,
      body ul li p,
      body ul li *,
      body ol li ul,
      body ol li ol,
      body ol li p,
      body ol li * {
        font-size: 1em; }
  body blockquote {
    margin: 0 7.2em; }
  body pre.example {
    border: .1em solid #900;
    background: #333;
    color: #EEE;
    font-size: 1.6em;
    margin: 1.125em 0;
    display: block;
    white-space: pre-wrap       /* css-3 */;
    white-space: -moz-pre-wrap  /* Mozilla, since 1999 */;
    white-space: -pre-wrap      /* Opera 4-6 */;
    white-space: -o-pre-wrap    /* Opera 7 */;
    word-wrap: break-word       /* Internet Explorer 5.5+ */; }
    body pre.example code {
      margin: 0;
      padding: 0;
      display: inline-block; }
  body #notices {
    width: auto;
    background-color: #FFE6D4;
    font-size: 1.6em;
    padding: 0;
    border-bottom: 1px solid #999; }
    body #notices .flash-notice {
      padding: 1em;
      background-color: #90ee90;
      color: #666; }
    body #notices .flash-error {
      background-color: #b73b29;
      color: #DDD;
      padding: 1em; }

* html,
* html body {
  height: 100%;
  overflow: auto; }

* html #overlay,
* html #modal {
  position: absolute; }

* html #overlay {
  width: 100%;
  height: 100%;
  filter: alpha(opacity=50); }

form {
  font-size: 1em;
  text-align: left;
  padding: 0 1.5em; }
  form input,
  form textarea,
  form select {
    font-family: inherit;
    font-size: 1.6em;
    height: 1.6em;
    border: .1em solid #900;
    font-weight: inherit;
    margin: 0 0 1.125em ;
    border: .1em solid #a1381a; }
  form textarea {
    height: 8em;
    width: 100%; }
  form label,
  form h2 {
    font-weight: bold;
    font-size: 1.6em;
    clear: both;
    display: block;
    margin: 0; }
  form .label_note {
    margin: -1.125em  0 1.125em; }
  form .radio label,
  form .checkbox label,
  form label.checkbox,
  form label.radio {
    display: inline-block;
    margin: 1.125em 0;
    width: 90%; }
  form div.radio h2,
  form div.checkbox h2 {
    margin-bottom: 0; }
  form div.radio ul,
  form div.checkbox ul {
    margin: 0.9em 0 0; }
    form div.radio ul li,
    form div.checkbox ul li {
      list-style: none !important;
      margin-bottom: 0.9em; }
      form div.radio ul li label,
      form div.checkbox ul li label {
        margin: 0; }
  form input[type="checkbox"] {
    display: inline-block; }
  form input[type="radio"] {
    vertical-align: top; }
  form input[type="submit"],
  form input[type="button"] {
    height: 1.8em; }
  form ul li,
  form ol li {
    list-style: none;
    margin: 0; }
    form ul li label,
    form ol li label {
      width: auto;
      font-size: 1em;
      margin: 0; }
  form div .multi_select,
  form div .read_only {
    margin: 0 0 0 30%;
    display: inline-block; }
    form div .multi_select select,
    form div .read_only select {
      margin: 0; }

fieldset {
  margin: 1.125em 0 1.125em -1.6em;
  padding: 1.8em;
  border: 1px solid #ccc; }
  fieldset legend {
    font-size: 1.6em;
    font-weight: bold; }
  fieldset fieldset {
    margin: 1.6em; }

form.justify fieldset {
  margin: 1em 0 1.5em -2.5em;
  padding: 1.5em;
  border: 1px solid #ccc; }
  form.justify fieldset label {
    padding: 0;
    margin: .5em -30% 0 .5em; }
  form.justify fieldset fieldset {
    margin: 1.5em; }
form.justify label {
  width: 30%;
  display: inline-block;
  margin: .5em -30.8% 0 0;
  text-align: left;
  color: #333; }
form.justify input {
  padding: .2em 0;
  margin: 0.5em 0 0;
  display: inline-block; }
  form.justify input[type="text"]:focus,
  form.justify input[type="password"]:focus {
    border: 1px solid #FFCC66;
    background: #FFF; }
form.justify input[type="text"], form.justify input[type="password"] {
  border: 1px solid #CCC;
  background: #EEE;
  margin: 0 0 0 30%;
  width: 60%; }
form.justify input[type="checkbox"] {
  margin: 0 0 0 30%; }
form.justify input[type="file"] {
  border: 1px solid #CCC;
  background: #EEE; }
form.justify input[type="hidden"] {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0; }
form.justify input.clear {
  clear: right;
  display: block; }
form.justify textarea {
  border: 1px solid #CCC;
  background: #EEE;
  margin: 0 0 0 30%;
  width: 60%;
  height: 4em; }
  form.justify textarea:focus {
    background: #FFF;
    border-color: #a1381a; }
form.justify select {
  margin: 0 0 0 30%; }

p label,
p input,
p textarea {
  font-size: 1em; }

#grid,
.grid {
  width: 94.2em;
  padding: 0 0.9em;
  display: inline-block;
  display: block; }
  #grid:after,
  .grid:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0; }
  * html #grid,
  * html .grid {
    height: 1px; }
  * html #grid,
  * html .grid {
    width: 97.8em; }

/* Project Specific SASS
 * Include your project sass and overides here */
body {
  background: #FFF url(/images/background.png) repeat-x;
  font-family: Times, serif; }
  body #head {
    width: 94.2em;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    display: block;
    clear: both;
    padding: 2.5em 0  1em; }
    body #head:after {
      content: ".";
      height: 0;
      clear: both;
      display: block;
      visibility: hidden;
      line-height: 0; }
    * html body #head {
      height: 1px; }
    body #head h1 {
      background: url(/images/logo.png) no-repeat left bottom;
      height: 7.5em;
      font-size: 1em;
      width: 50.5em;
      margin: 0;
      position: relative;
      float: left; }
      body #head h1 a {
        text-indent: -9999em;
        display: block;
        width: 100%;
        height: 100%;
        outline: none; }
    body #head ul {
      margin: 6em 1em 0;
      float: left; }
      body #head ul li {
        list-style: none;
        margin: 0;
        display: block;
        float: left;
        font-weight: normal; }
        body #head ul li a {
          text-transform: capitalize;
          color: #333; }
    body #head a#tagline {
      float: left;
      color: #FFF;
      font-family: Times;
      font-size: 1.4em;
      font-weight: bold;
      margin-left: .5em; }
    body #head ul#categories {
      float: left; }
      body #head ul#categories li {
        margin-left: 1em; }
    body #head ul#admin {
      width: 100%;
      display: inline-block;
      background: #900;
      border: .1em solid #CCC;
      border: none;
      margin: 0; }
      body #head ul#admin:after {
        content: ".";
        height: 0;
        clear: both;
        display: block;
        visibility: hidden;
        line-height: 0; }
      * html body #head ul#admin {
        height: 1px; }
      body #head ul#admin li {
        margin: .5em; }
        body #head ul#admin li a {
          color: #FFF; }
  body #grid {
    display: inline-block;
    display: block;
    margin: 0 auto;
    padding: 0;
    border-top: .1em double #DDD; }
    body #grid:after {
      content: ".";
      height: 0;
      clear: both;
      display: block;
      visibility: hidden;
      line-height: 0; }
    * html body #grid {
      height: 1px; }
    body #grid .main,
    body #grid .rail,
    body #grid .page,
    body #grid .full_page,
    body #grid .column {
      background-color: white;
      vertical-align: top;
      display: block;
      float: left; }
      body #grid .main h2:first-child,
      body #grid .rail h2:first-child,
      body #grid .page h2:first-child,
      body #grid .full_page h2:first-child,
      body #grid .column h2:first-child {
        margin-top: 0; }
    body #grid .main {
      width: 47.123em;
      padding: 0.9em;
      margin: 0.9em;
      border: 0em none #a1381a;
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      -khtml-border-radius: 0.2em;
      display: inline-block; }
      body #grid .main:after {
        content: ".";
        height: 0;
        clear: both;
        display: block;
        visibility: hidden;
        line-height: 0; }
      * html body #grid .main {
        height: 1px; }
      body #grid .main ul li {
        list-style-position: inside; }
      body #grid .main h2 {
        color: #C93;
        margin: 0.409em 0;
        font-size: 2.2em;
        padding: 0.409em 0;
        font-weight: normal; }
      body #grid .main h4 {
        margin-top: 0;
        font-weight: normal;
        font-size: 1.6em; }
      body #grid .main ul.tags li {
        display: inline-block;
        margin: 0;
        font-size: 1.1em; }
        body #grid .main ul.tags li:after {
          content: ", "; }
        body #grid .main ul.tags li:last-child:after {
          content: ""; }
      body #grid .main .post {
        font-size: 1.6em; }
        body #grid .main .post p, body #grid .main .post div, body #grid .main .post li, body #grid .main .post span {
          font-size: 1em; }
        body #grid .main .post p:last-child {
          margin-bottom: 0; }
        body #grid .main .post h2 {
          border: none;
          font-family: Arial, Helvetica, Verdana, sans-serif;
          text-align: left;
          font-size: 1.2em;
          margin-bottom: 0; }
        body #grid .main .post h2:first-child {
          margin-top: 1.2em; }
      body #grid .main #splash_pic {
        width: 47.2em;
        height: 25em;
        background: #fff;
        padding: .5em;
        border: .1em solid #CCC; }
    body #grid ul.inline {
      margin: 1em 0 0; }
      body #grid ul.inline li {
        display: inline; }
    body #grid .rail {
      width: 18.438em;
      padding: 0.9em;
      margin: 0.9em;
      border: 0em none #a1381a;
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      -khtml-border-radius: 0.2em;
      display: inline-block; }
      body #grid .rail:after {
        content: ".";
        height: 0;
        clear: both;
        display: block;
        visibility: hidden;
        line-height: 0; }
      * html body #grid .rail {
        height: 1px; }
      body #grid .rail p, body #grid .rail label, body #grid .rail input {
        font-size: .95em; }
      body #grid .rail form {
        padding: 0; }
      body #grid .rail ul.tag_cloud {
        width: 100%;
        margin: 1.8em 0;
        border: 1px solid #333;
        padding: .5em; }
        body #grid .rail ul.tag_cloud li {
          display: inline-block;
          margin: 0; }
          body #grid .rail ul.tag_cloud li.tag_level-1 {
            font_size: .7em; }
          body #grid .rail ul.tag_cloud li.tag_level-2 {
            font_size: 1em; }
          body #grid .rail ul.tag_cloud li.tag_level-3 {
            font-size: 1.1em; }
          body #grid .rail ul.tag_cloud li.tag_level-4 {
            font-size: 1.4em; }
          body #grid .rail ul.tag_cloud li.tag_level-5 {
            font-size: 1.8em;
            font-weight: bold; }
          body #grid .rail ul.tag_cloud li a {
            color: #666; }
            body #grid .rail ul.tag_cloud li a:hover {
              color: #a1381a; }
      body #grid .rail ul.social li {
        list-style: none inside;
        padding: 0 0 0 1.4em;
        margin: 0 0 .5em;
        background: url(/images/icons/facebook.png) no-repeat left center; }
        body #grid .rail ul.social li.facebook {
          background-image: url(/images/icons/facebook-16x16.png); }
        body #grid .rail ul.social li.twitter {
          background-image: url(/images/icons/twitter-16x16.png); }
      body #grid .rail ul#nav {
        float: left; }
        body #grid .rail ul#nav li {
          list-style: none;
          margin: 0 .5em 0 0;
          display: block;
          float: left;
          font-weight: bold; }
          body #grid .rail ul#nav li a {
            color: #666;
            text-transform: uppercase;
            color: #333;
            font-family: Times; }
    body #grid .column_one {
      margin-right: 0; }
      body #grid .column_one ul.previous {
        margin: 0 auto;
        width: auto;
        display: inline-block; }
        body #grid .column_one ul.previous:after {
          content: ".";
          height: 0;
          clear: both;
          display: block;
          visibility: hidden;
          line-height: 0; }
        * html body #grid .column_one ul.previous {
          height: 1px; }
        body #grid .column_one ul.previous li {
          display: block;
          float: left;
          width: 8em;
          height: 8em;
          background: #EEE;
          margin: .25em;
          overflow: hidden;
          list-style: none; }
    body #grid .column_two {
      margin-left: 0; }
      body #grid .column_two ul.previous {
        margin: 0 auto;
        width: 22em;
        display: inline-block; }
        body #grid .column_two ul.previous:after {
          content: ".";
          height: 0;
          clear: both;
          display: block;
          visibility: hidden;
          line-height: 0; }
        * html body #grid .column_two ul.previous {
          height: 1px; }
        body #grid .column_two ul.previous li {
          display: block;
          float: left;
          width: 4em;
          height: 4em;
          background: #999;
          margin: .25em;
          overflow: hidden;
          list-style: none; }
      body #grid .column_two h2.archives {
        margin: 1em;
        padding: .5em;
        border-bottom: .1em solid #CCC; }
    body #grid form {
      margin: 0 auto; }
    body #grid .editor {
      border: .1em solid #333; }
    body #grid ul.toolbar li {
      font-size: 1em;
      display: block;
      float: left;
      width: 3.2em;
      height: 3.2em;
      border: .1em solid #666;
      margin: .2em;
      overflow: hidden;
      cursor: pointer;
      list-style: none; }
