=render :partial => "welcome/feature" unless !params[:page].nil? && params[:page].to_i > 1
=render :partial => "pages/blog_post"
%p=will_paginate @items
-content_for :column_two do
  %h2 Sign up for our newsletter.
  %form{ :action=>'http://madmimi.com/signups/subscribe/2622', :method=>'post'}
    %div
      =label :signup, :name
      =text_field :signup, :name
    %div
      =label :signup, :email
      =text_field :signup, :email
    %div
      =submit_tag
-content_for :column_one do
  %h2 Recent Bites
  %ul.previous
    -get_previous_items.each_with_index do |item, index|
      -unless item == @feature
        %li
          =link_to image_tag(item.splash.url(:thumb), :alt => item.title), item, :title => item.title
  %h2.archives Archives
