=render :partial => "pages/blog_post"
-content_for :column_one do
  %h2 Sign up for our newsletter.
  %form{ :action=>'http://madmimi.com/signups/subscribe/2622', :method=>'post'}
    %div
      =label :signup, :name
      =text_field :signup, :name
    %div
      =label :signup, :email
      =text_field :signup, :email
    %div
      =submit_tag
-content_for :column_two do
  %h2 Previous posts
  %ul.previous
    -get_previous_items.each_with_index do |item, index|
      -if index != 0
        %li
          =link_to image_tag(item.splash.url(:thumb)), item
  %h2.archives Archives
