%h1=@page.name
- layout = case @page.page_type
  - when 0 then
    %p normal
  - when 1 then
    =render :partial => "blog_post"
  - else
    %p we couldn't find that, maybe you would like to try something else.

