%h1
  Suggest an Item
-form_for(@item, :html => { :multipart => true , :id => "editor_form"}) do |f|
  =f.hidden_field :page_id, :value => 1
  =f.hidden_field :publish_date, :value => Time.now
  %div
    =f.label :title
    =f.text_field :title
  %div
    =f.label :splash, "Feature Image (minimum size: 480X200)"
    =f.file_field :splash
    =f.hidden_field :user_id, :value => current_user.id
  %div
    =f.label :body
    =f.wysihat_editor  :body
  %div
    %ul#common_tags
      -@common_tags.each do |tag|
        %li.button
          = tag.name
    =f.label :tag_list
    =f.text_field :tag_list
  %div
    =f.submit "Create", :id => "trigger"
-content_for :onReady do
  :plain
    String.prototype.endsWith = function(str)
    {return (this.match(str+"$")==str)}
    $$('#common_tags li.button').each(function(tag){
      $(tag).observe('click',function(){
        console.log(tag.innerHTML);
        current_value = $('item_tag_list').value;
        if(current_value == ''){
          $('item_tag_list').value = tag.innerHTML.trim()+",";
          $(tag).remove();
        }else if(current_value.match(tag.innerHTML.trim())){
          return true;
        }else if(!current_value.endsWith(',') && !current_value.endsWith(', ')){
           $('item_tag_list').value += ", "+tag.innerHTML.trim()+",";
           $(tag).remove();
        }else{
          $('item_tag_list').value += " "+tag.innerHTML.trim()+",";
          $(tag).remove();
        }
      });
    });
