%h1
  Edit
  = "\"#{@item.title}\""
-form_for(@item, :html => { :multipart => true , :id => "editor_form"}) do |f|
  %div
    =f.label :page_id, "which page should it be on?"
    = collection_select :item, :page_id, @pages, :id, :name
  %div
    =f.label :title
    =f.text_field :title
  %div
    =f.label :splash, "Feature Image"
    =f.file_field :splash
    -if current_user && current_user.has_role?("admin")
      =f.label :user_id
      =f.select :user_id, options_from_collection_for_select(@users,'id','login',current_user.id)
    -else
      =f.hidden_field :user_id, :value => current_user.id
  %div
    =f.label :body
    =f.wysihat_editor :body
  %div
    =f.label :publish_date
    =f.datetime_select :publish_date
  %div
    =f.label :tag_list
    =f.text_field :tag_list
  %div
    =f.submit "Update", :id => "trigger"

