%h2
  Follow us
%ul.social
  %li.twitter= link_to "twitter", "http://twitter.com/socialbite"
  %li.facebook= link_to "facebook", "http://www.facebook.com/pages/socialbite/207808005812?ref=search&sid=1192381870.44832327..1"
  %li.feed= link_to "RSS feed", "/pages/Home.rss"
