%h2
  Our Friends
%ul.friends
  %li= link_to "3 Floyds Brewing", "http://3floyds.com"
  %li= link_to "Revolution Brewery", "http://revbrew.com"
  %li= link_to "Green Grocer", "http://www.greengrocerchicago.com/"
  %li= link_to "One Sister", "http://www.onesisterinc.com/"
